/**
 *
 * {{pascalCase name }}
 *
 */

import React from 'react'
import cn from 'classnames'
import './{{kebabCase name}}.scss'


const BLOCK = '{{kebabCase group}}_{{kebabCase name}}'
function {{pascalCase name}}(props:Props) {
  return <div>{{pascalCase name }}</div>
}

{{pascalCase name}}.defaultProps = {

}

interface Props {

}

export default {{pascalCase name}}
